<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      <%= "Hi, #{current_user.username}!" %>
      <%= button_to "Logout", session_url , method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_url %> <%= link_to "Sign In", new_session_url %>
      <br>
    <% end %>
    <br>
    <a href="<%= subs_url %>"/>All Subs</a>
    <% if flash[:errors] %>
    <br>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
  </header>
  <%= yield %>

</body>
</html>
